<div class="tree-container">
  <div class="tree-header">
    <span>Root</span>
  </div>
  <div class="tree-content">
    <div
      class="tree-item"
      [class.selected]="selectedPath === 'Root/Folder002'"
      (click)="selectFolder('Root/Folder002')"
    >
      <span>Folder 002</span>
    </div>
    <div
      class="tree-item"
      [class.selected]="selectedPath === 'Root/Folder003'"
      (click)="selectFolder('Root/Folder003')"
    >
      <span>Folder 003</span>
    </div>
    <div
      class="tree-item"
      [class.selected]="selectedPath === 'Root/Folder004'"
      (click)="selectFolder('Root/Folder004')"
    >
      <span>Folder 004</span>
    </div>
    <div
      class="tree-item"
      [class.selected]="selectedPath === 'Root/Applications'"
      (click)="selectFolder('Root/Applications')"
    >
      <span>Applications</span>
    </div>
    <div
      class="tree-item"
      [class.selected]="selectedPath === 'Root/Documents'"
      (click)="selectFolder('Root/Documents')"
    >
      <span>Documents</span>
    </div>
    <div
      class="tree-item"
      [class.selected]="selectedPath === 'Root/Pictures'"
      (click)="selectFolder('Root/Pictures')"
    >
      <span>Pictures</span>
    </div>
  </div>
</div>
